@charset "UTF-8";

body{
    background-color: grey;
    margin: 0;
    padding: 0;
}

#area{
    background-color: white;
    color: black;
    font: 10pt Arial normal;
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    margin: auto;
    margin-top: 300px;
    border-radius: 10px 10px 10px;
}